*.pdf
*.epub
*.mobi
*.azw3
*.htmlz
*.svg
*~
/.project
/.idea/

manuscript/images/webpage/Thumbs.db
tools/desktop.ini
old_scripts/desktop.ini
manuscript/Stylesheets/desktop.ini
manuscript/images/webpage/desktop.ini
manuscript/images/desktop.ini
manuscript/desktop.ini
Diagrams/desktop.ini
desktop.ini
.vscode/desktop.ini
