div.achievement 
{
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-top-style: double;
    border-bottom-style: double;
    border-top-color: #E1A60A;
    border-bottom-color: #E1A60A;
    padding: 0.5em 1em;
}

div.disclaimer 
{
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    padding: 0.5em 1em;
    font-size: 0.9em;
}

div.disclaimer h3 {
  font-size: 1em;
  font-weight: bold;
}


.achievement h3:before {
  content: "Achievement: ";
}

.achievement p {
  font-style: italic;
}

dt {
  padding-top: 0.2em;
}

td, th {
  border: solid thin #C0C0C0;
  padding: 4px;
}

table {
  width: 70%;
}